<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<form action="" method="post">
    Vārds, uzvārds:<input type="text" name="full_name"><br>
    Matemātika:<input type="text" name="mathematic"><br>
    Latviešu valoda:<input type="text" name="latvian_language"><br>
    Svešvaloda:<input type="text" name="foreign_language"><br>
    <button type="submit" style="color:blue;display: inline-block;font-size: 24px;padding: 8px 20px;">Iesniegt</button>
</form>

</body>
</html>